<phpunit
    bootstrap="./bootstrap.php" colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
    <testsuites>
        <testsuite name="Glovebox Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>